{% extends 'layouts/main.html' %}

{% block content %}
    <h1>Professional Cloud Architect Test Questions</h1>

        {% for question in questions %}
            <form hx-post="/answer" hx-target="#submit-{{ loop.index }}">

            <p>{{loop.index}}. {{ question.question }}</p>
            {% for answer in question.answers %}
            <p>
                <label for="{{ loop.index }}-ans">{{ answer | replace('-ans', '')}}</label>
                <input type="radio" id="{{ loop.index }}-ans" name="answer" value="{{ answer }}"/>
            </p>
            {% endfor %}
            <button type="submit" id="submit-{{ loop.index }}">Submit</button>
            <form>

        {% endfor %}

{% endblock %}